<!DOCTYPE html>
{% extends "core/base.html" %}

    {% block body_block %}

        <div class="jumbotron">
            <h2 class="display-4">Dag lijstopstellers</h2>
            <p class="lead">Dit is een eerste ruwe versie van een programma voor de controle van de werklijsten</p>
            <hr class="my-4">
            <p>Kies de file die je wil controleren en de week, of alle weken. Daarna klik je op "Upload" en je krijgt de verwerking te zien. Je kan dit doen voor de Staf of voor de Assistenten.</p>
        </div>

    {% endblock %}